<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{document}}</title>
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
            <header class="header" id="header">
                <div class="header-top">
                    <div class="container">
                        <a href="/" class="header-logo"><img src="/img/logo.png" alt="logo"></a>
                        <nav class="header-nav">   
                            <a href="/" class="item">Amazon.ca</a>
                            <a href="/productListing" class="item">Deals store</a>                     
                        </nav>
                        <div class="header-user">
                            <a href="/login" class="login">Log in</a>
                            <a href="/signUp" class="signup">Sign up</a>
                            
                        </div>                      
                    </div>
                </div><div class="header-bg"></div>              
            </header>
       
    <main>
        {{{body}}}
    </main>
    <footer>
        <div>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>

            </div>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div>
            <p></p>
        </div>
    </footer>

<script src=""></script>
</body>
</html>