<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
        <header class="header" id="header">
            <div class="header-bg"></div>
            <div class="header-top">
                <div class="container">
                    <a href="#" class="header-logo"></a>
                    <nav class="header-nav">   
                        <a href="/" class="item">Deals of the day</a>
                        <a href="/productListing" class="item">Best sellers</a>                     
                    </nav>
                    <div class="login">
                        <a href="#" class="login"></a>
                        <a href="#" class="header-icon"></a>
                    </div>

                </div>
            </div>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <ul>
                <li>express</li>
                <li>node</li>
                <li>javaScipt</li>
            </ul>
        </footer>

<script src=""></script>
</body>
</html>