<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
            <header class="header" id="header">
                <div class="header-bg"></div>  
                <div class="header-top">
                    <div class="container">     
                        <a href="/" class="header-logo bar1" ><img src="/img/logo2.png" alt="logo"></a> 
                        <nav class="header-nav bar2">      
                            <a href="/productListing" class="item">New Releases</a>
                            <a href="/productListing" class="item">Deals Store</a>  
                            <a href="/productListing" class="item">Best Sellers</a> 
                            <a href="/productListing" class="item">Electronics</a>
                            <a href="/productListing" class="item">Gift Ideas</a>  
                            <a href="/productListing" class="item">Customer Services</a>  
                            <div class="item search bar3">
                                <form action="#">
                                    <input type="text" class="search-text" placeholder="Search">
                                </form>
                            </div>
                        </nav>                           
                        <div class="header-user bar4">
                            <div class="dropdown">
                                <a href="/login" class="signup">Login</a>
                                <div class="dropdown-list">
                                    <a href="/login">Login</a>
                                    <a href="/signUp">New Custormer?</a>
                                    <section><a href="#">My profile</a> </section>
                                    <section><a href="#">My order</a> </section>
                                    <section><a href="#">My wishlist</a> </section>
                                </div>
                            </div>
                            <a href="#" class="cart">Cart(0)</a>
                            
                        </div>  

                    </div>
                </div>                        
            </header>    
    <main>
        {{{body}}}
    </main>
    <footer class="footer" id="footer">
        <div class="footer-column_wrapper">
            <div class="footer-column">
                <a href="#" class="title">Get to know you</a>
                <a href="#">Careers</a>
                <a href="#">Amazon and our planet</a>
                <a href="#">Investor Relations</a>
                <a href="#">Press release</a>
            </div>
            <div class="footer-column">
                <a href="#" class="title">Get Money with us</a>
                <a href="#">Sell on Amazon</a>
                <a href="#">Sell under Amazon Accelerator</a>
                <a href="#">Amazon Associates</a>
                <a href="#">Sell on Amazon Handmade</a>
                <a href="#">Advertise Your products</a>
            </div>
            <div class="footer-column">
                <a href="#" class="title">Amazon Payment products</a>
                <a href="#">Amazon.ca rewards Mastercard</a>
                <a href="#">Shop with Points</a>
                <a href="#">Reload Your Balance</a>
                <a href="#">Amazon Currency Converter</a>
                <a href="#">Gifts Cards</a>
                <a href="#">Amazon Cash</a>

            </div>
        </div>
        <div class="copyright">
            <p>Copyright @Amazon 2020</p>
        </div>
    </footer>

</body>
</html>