<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
        <header>
            <h1>Assignment 1 Startup</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/productListing">Product Listing</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci ipsam cumque provident eaque a, tenetur, nulla doloribus quisquam laborum facere distinctio optio reiciendis sequi quo ex incidunt vel consequuntur inventore.
            </p>
        </footer>


</body>
</html>