<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{document}}</title>
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
            <header class="header" id="header">
                <div class="header-bg"></div>  
                <div class="header-top">
                    <div class="container"> 
                        <a href="/productListing" class="header-logo" ><img src="/img/logo2.png" alt="logo"></a> 
                        <nav class="header-nav">      
                            <a href="/productListing" class="item">New Releases</a>
                            <a href="/productListing" class="item">Deals Store</a>  
                            <a href="/productListing" class="item">Best Sellers</a>                   
                        </nav>
                        <div class="header-user">
                            <a href="/login" class="login">Login</a>
                            <a href="/signUp" class="signup">Sign up</a>
                            <a href="/" class="cart">Cart(0)</a>
                            
                        </div>                      
                    </div>
                </div>                        
            </header>    
    <main>
        {{{body}}}
    </main>
    <footer class="footer" id="footer">
        <div class="footer-column_wrapper">
            <div class="footer-column">
                <a href="#" class="title">Get to know you</a>
                <a href="#">Careers</a>
                <a href="#">Amazon and our planet</a>
                <a href="#">Investor Relations</a>
                <a href="#">Press release</a>
            </div>
            <div class="footer-column">
                <a href="#" class="title">Get Money with us</a>
                <a href="#">Sell on Amazon</a>
                <a href="#">Sell under Amazon Accelerator</a>
                <a href="#">Amazon Associates</a>
                <a href="#">Sell on Amazon Handmade</a>
                <a href="#">Advertise Your products</a>
            </div>
            <div class="footer-column">
                <a href="#" class="title">Amazon Payment products</a>
                <a href="#">Amazon.ca rewards Mastercard</a>
                <a href="#">Send a Gift</a>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright @Amazon 2020</p>
        </div>
    </footer>

</body>
</html>