<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{document}}</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
            <header class="header" id="header">
                <div class="header-top">
                    <div class="container">
                        <a href="#" class="header-logo"></a>
                        <nav class="header-nav">   
                        <a href="/" class="item">Home</a>
                        <a href="/productListing" class="item">Best sellers</a>                     
                        </nav>
                        <div class="header-user">
                        <a href="/" class="login">Log in</a>
                        <a href="/" class="signup">Sign up</a>
                        </div>
                        <div class="banner">
                            <h2 class="banner-title"></h2>
                        </div>
                        <div class="search">
                            <form action="#">
                                <input type="text" class="serach-text" placeholder="search you like">
                                <a href="#"></a>
                            </form>
                        </div>

                    </div>
                </div><div class="header-bg"></div>
                
            </header>
       
    <main>
        {{{body}}}
    </main>
    <footer>
        <div>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>

            </div>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div>
            <p></p>
        </div>
    </footer>

<script src=""></script>
</body>
</html>