<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
        <header class="header" id="header">
            <div class="header-bg"></div>
            <div class="header-top">
                <div>
                    <nav class="header-wrapper">
                        <ul class="header-container">
                            <li></li>
                            <li><a href="/">Home</a></li>
                            <li><a href="/productListing">Best Sellers</a></li>
                            <li>Login</li>
                            <li>Signup</li>
                        </ul>
                    </nav>
                </div>

            </div>
            <h1>Assignment 1 Startup</h1>
            
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <ul>
                <li>express</li>
                <li>node</li>
                <li>javaScipt</li>
            </ul>
        </footer>

<script src=""></script>
</body>
</html>