{{!-- Banner Promotional Section --}}
<section>
    <article class="banner-image">
        <img class="hero-banner"  src="/img/hero-b.png" alt="Banner Image">
    </article>

{{!-- Best Seller Section --}}
    <section>
        <div class="recommend-line">
            <span><b>Best Sellers</b></span>
        </div>
        <div class="bestseller-card">
            {{#each data}}
            <div class="detailed-card">
                <img class="card-img" src="/img/{{this.imgPath}}" />
            </div>
            {{/each}}
        </div>
    </section>

    
</section>






