
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>Best seller</li>
        <li>Women</li>
        <li>Men</li>
        <li>Kids</li>
    </ul>

    <ul>
        <li><img src="/img/4.jpg" alt="Jon snow"></li>
        <li><img src="/img/3.jpg" alt="clothing"></li>
        <li><img src="/img/2.jpg" alt="style"></li>
    </ul>

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat magnam fugit ea velit repellendus animi a deserunt consequatur nisi reiciendis voluptatibus deleniti vitae beatae rem maxime quaerat quam perspiciatis neque, veritatis eligendi! Corporis odit accusantium, iure numquam voluptatem beatae possimus quae, minus officia corrupti eaque vitae nostrum laboriosam ad perspiciatis!
</body>
</html>
