<link rel="stylesheet" href="/public/css/style.css">
<link rel="stylesheet" href="/public/css/reset.css">
<div class="banner">
    <h2 class="banner-title">
        <p class="search-hot">Gift ideas</p>
        <p class="search-hot">Electronic</p>
    </h2>
    <div class="search">
        <form action="#">
            <input type="text" class="serach-text" placeholder="search you like">
            <a href="#"></a>
        </form>
    </div>
</div>

<div>
    
</div>



