<div class="signUp-form">
    <img src="/img/logo.png" alt="logo">
<h1>Log in your account</h1>

<p>Email adress/ID/Phone number</p>
<input type="text" placeholder="Enter your Email address/ID/Phone number">
<p>Password</p>
<input type="password" placeholder="Enter your password">
<button>Login</button>
<br>
<a href="signUp">New user? Create an account</a>
</div>