<div class="signUp-form">
    <img src="/img/logo.png" alt="logo">
<h1 class="form-title">Log in your account</h1>
<br>
<br>
<div>
    <p>Email adress/ID/Phone number</p>
    <input type="text" placeholder="Enter your Email address/ID/Phone number">
</div>
<br>
<div>
    <p>Password</p>
    <input type="password" placeholder="Enter your password">
</div>

<br>

<button><a href="#">Login</a></button>


<br>
<a href="signUp">New user? Create an account</a>
</div>