<br>
<br>
{{!-- side navigation bar --}}
<div class="side-nav">
    <span class="nav-list">Show results from 9 Departments:</span>
    <br>
    <ul class="nav-list">
        <li class="form-title">Departments:</li>
        <br>
        <li><a href="#" style="background-color:grey">Clothing</a></li>
        <br>
        <li><a href="#">Women outfit</a> </li>
        <br>
        <li><a href="#">Men shirts</a></li>
        <br>
        <li><a href="#">Children's clothing</a> </li>
        <br>
        <li><a href="#">Children's shoes</a> 
        </li>
        <br>
        <li>
            <a href="#" style="background-color:grey">Electronics</a> 
        </li>
        <br>
        <li>
            <a href="#">Camera & Photo</a>
        </li>
        <br>
        <li>
            <a href="#">Computer & accessories</a>
        </li>
        <br>
        <li>
            <a href="#" style="background-color:grey">Music</a> 
        </li>
        <br>
        <li><a href="#">Guitars & accessories</a></li>
        <br>
        <li><a href="#">Piano & accessories</a></li>
        <br>
        <li>
            <a href="#" style="background-color:grey">Home</a> 
        </li>
        <br>
        <li><a href="#">Kitchen and cookwares</a></li>
        <br>
        <li><a href="#">Bedroom & living room</a></li>
    </ul>
</div>


<div class="product-container">
    
    {{#each data}}

    <div class="each">
        
        <img src="/img/{{this.imgPath}}" class="p-img">
        <br>
        <section>
            {{this.title}}
        </section>  
        <br>
        <section>
            {{this.description}}
        </section>  
        <br>
        <section>
            {{this.price}}
        </section>
        <br>
        <section>
            <button class="cartbtn"><a href="#">Add to cart</a></button>
        </section>
            
    </div>
    {{/each}}
<br>
<br>

