<br>
<br>
{{!-- side navigation bar --}}
<div class="side-nav">
    <span class="nav-list">Show results from 9 Departments:</span>
    <br>
    <ul class="nav-list">
        <li class="form-title">Departments:</li>
        <br>
        <li><p style="background-color:grey">Clothing</p></li>
        <br>
        <li><p>Women outfit</p> </li>
        <br>
        <li>Men shirts</li>
        <br>
        <li>Children's clothing</li>
        <br>
        <li>Children's shoes
        </li>
        <br>
        <li>
            <p style="background-color:grey">Electronics</p> 
        </li>
        <br>
        <li>
            <p>Camera & Photo</p>
        </li>
        <br>
        <li>
            <p>Computer & accessories</p>
        </li>
        <br>
        <li>
            <p style="background-color:grey">Music</p> 
        </li>
        <br>
        <li><p>Guitars & accessories</p></li>
        <br>
        <li><p>Piano & accessories</p></li>
        <br>
        <li>
            <p style="background-color:grey">Home</p> 
        </li>
        <br>
        <li><p>Kitchen and cookwares</p></li>
        <br>
        <li>Bedroom & living room</li>
    </ul>
</div>


<div class="product-container">
    
    {{#each data}}

    <div class="each">
        
        <img src="/img/{{this.imgPath}}" class="p-img">
        <br>
        <section>
            {{this.title}}
        </section>  
        <br>
        <section>
            {{this.description}}
        </section>  
        <br>
        <section>
            {{this.price}}
        </section>
        <br>
        <section>
            <button class="cartbtn"><a href="#">Add to cart</a></button>
        </section>
            
    </div>
    {{/each}}

</div>
<br>
<br>

