<div class="signUp-form">
    <h3>Sign up for an account</h3>
    <div>
        <label>Username:</label>
        <input type="name" placeholder="username">
    </div>
    <div>
        <label>Create a password</label>
        <input type="password">
    </div>
    <div>
        <label>Re-enter your password:</label>
        <input type="password">
    </div>
    <button type="submit">Sign up</button>
</div>

