<div class="signUp-form">
    <img src="/img/logo.png" alt="logo">
    <h3 class="form-title">Sign up for an account</h3>
    <div>
        <p>Create Your Username:</p>
        <input type="name" placeholder="username">
    </div>
    <br>
    <div>
        <p>Enter your email:</p>
        <input type="email" placeholder="email">
    </div>
    <br>
    <div>
        <p>Create a password</p>
        <input type="password">
    </div>
    <br>
    <div>
        <p>Re-enter your password:</p>
        <input type="password">
    </div>
    <br>
    <button type="submit"><a href="#"> Sign up</a></button>
</div>

