
body
{
  background-color: whitesmoke;
}
img {
  width: 180px;
  height: 200px;
}



/* ====style header==== */

.header{
    position: relative;
    width: 100%;    
}

.header-bg{
    max-width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #5D4C4C;
    background-attachment: fixed;
}

.header-top{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.header-top .container {
    width: auto;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

.bar1{

    grid-template-areas: 1/1/2/2;

}

.bar2{
  grid-template-areas: 2/1/2/3;
}

.bar3{
  grid-template-areas: 1/3/2/4;
}

.bar4{
  grid-template-areas: 1/4/2/5;
}


.header-logo{
    float: left;
    width: 10%;
    
    
}
.header-logo img {
    height: 3.5em;
    width: 9em;
    padding-right: 2px;
}

.header-nav{
    padding: 15px 22px 0 20px;
    display: inline;
}

.header-nav .item{
    float: left;
    color: whitesmoke;
    margin-right: 26px;
}

.header-user {
    
    display: inline;
}

.header-user .signup,
.header-user .login,
.header-user .cart{
  float: right;
  width: 52px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  color: #fff;
  border-radius: 2px;
}
.header-user .signup:hover,
.header-user .login:hover {
  text-decoration: none;
}
.header-user .signup {
  background-color: rgba(201,0,0,.6);
  border: 1px solid transparent;
}
.header-user .signup:hover {
  background-color: rgba(201,0,0,.9);
}
.header-user .login {
  border: 1px solid rgba(255, 255, 255, .8);
  box-sizing: border-box;
}
.header-user .login:hover {
  color: #444;
  background-color: #fff;
}


.signUp-text{
  vertical-align: middle;
  text-align: center;
  
}

.signUp-form {
  display: grid;
  grid-template-rows: auto;
  background-color: wheat;
  width: fit-content;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 25px 25px 25px 25px;
  border-bottom: 2px solid #f0eded;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  font-size: 2em;

}
.signUp-form img{
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.signUp-form input{
  border: solid black 2px;
  padding: 1px 1px 1px 1px;
  width: 380px;
  height: 30px;
}
.signUp-form button{
  font-size: 1em;
  background-color: cadetblue;
  color: #D9D9D9;
  width: auto;
  text-align: center;
}
.signUp-form label{
  float: center;
}
.form-title{
  font-size: 2em;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-list a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-list a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-list {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* ===Background image=== */
.hero {
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;

}

.hero img{
  width: 700px;
  height: auto;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  

}

.hero-banner{
  width: 100%;
  height: auto;
  max-height: 1000px;
  margin-left: auto;
  margin-right: auto;


}
.banner {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* margin-left: -279px; */
}


.banner-img{
  width: 1000px;

}

/* ==search text === */
.search {
  position: relative;
  margin-bottom: 3px;
}
.search-text {
    text-align: center;
    padding: 0 12px 0 12px;
    border:white solid 1px;
    border-radius: 2px;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    width: auto;
  }
  .search-btn {
    float: left;
    position: absolute;
    right: 0;
    top: 0;
  }




/* ===Product page ===*/

.product-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    margin:0em 2em;
}

.each {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.p-img{
    width: 250px;
    height: 200px;

}
.product-category{
  /* padding: 1em 0em 1em 0em; */
  /* position: relative; */
  
background-color: grey;
  border-radius: 5px;
  position: relative;   
}
.product-category img{
  height: 100%;
  max-height: 250px;
  width: 100%;
 
}
.product-heading{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  border: 1px solid none;
  padding: 0.4em;
  background-color:rgba(80,122,164,0.5)
}
  
.detailed-card{
  text-align: center;
  transition: all 1s;
}

.detailed-card:hover{
  box-shadow: 0px 0px 14px 3px gainsboro
  border-radius: 5px;
}
.card-img{
  
}
.bestseller-card{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:1em;
  margin: 2em 2em;
}
.cartbtn {
  font-size: 1em;
  background-color: orange;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  color: black;
  width: auto;
  text-align: center;
}

/* recommend line */

.recommend-line,
.getMore-line {
  position: relative;
  padding: 20px 0;
}
.recommend-line:before,
.recommend-line:after,
.getMore-line:before,
.getMore-line:after {
  content: "";
  position: absolute;
  top: 28px;
  width: 44%;
  border-top: 1px solid #ededed;
}
.recommend-line:before,
.getMore-line:before {
  left: 0;
}
.recommend-line:after,
.getMore-line:after {
  right: 0;
}
.recommend-line span {
  display: block;
  text-align: center;
  font-size: 22px;
  color: #999;
}

/* ===footer== */
.footer{
    padding-top: 5px;
    background-color: #333333;
    padding-bottom: 0;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    height: auto;
}

.footer-column_wrapper{
  width: auto;
  margin: 0 auto 0 0;
  margin-bottom: 15px;
  padding-bottom: 0;

}

.footer-column {
  display: inline-block;
  width: 200px;
  height: auto;
  vertical-align: top;
}

.footer-column a {
  line-height: 32px;
  color: #bbbbbb;
  font-size: 1em;
}

.footer .title {
  font-size: 1.5em;
  color: #D9D9D9;
}
.copyright{
  color: #bbbbbb;
  font-size: 3em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.copyright p {
  background-color: black;
  padding-bottom: 0;
  
}


/* product side-navigation bar */
.side-nav {
  float: left;
  margin-right: 5px;
  margin-left: 0.5px;
  padding-right: 3px;
}


.nav-list {
  float: left;
}

@media only screen and (max-width:600px){
  .header-nav .item{
    color: #333333;
  }
  .header-user .login{
    color: black;
    border: solid 1px black;
  }
  .header-user {
    position: relative;
    display: inline-block;
    top: 1.5px;
}
  .hero-banner {
    margin-left: auto;
    margin-right: auto;
  }
}