
body
{
    background-color: whitesmoke;
}
img {
  width: 200px;
  height: 200px;
}

/* ====style header==== */

.header{
    position: relative;
    width: 100%;
    height: 600px;
    
}

.header-bg{
    max-width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #5D4C4C;
    background-attachment: fixed;
    background-size: contain;
}

.header-top{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
}

.header-top .container {
    width: auto;
    margin: 0 auto;
    
}

.header-logo{
    float: left;
    width: 30px;
    height: 18px;
    margin-top: 1px;
    margin-left: 1px;
    font-size: 32px;
    text-align: center;
    
}

.header-nav{
    float: left;
    padding: 10px 22px 0 20px;
}

.header-nav .item{
    float: left;
    margin-right: 1px;
    color: whitesmoke;
    margin-right: 26px;
}

.header-user {
    float: right;
    margin-top: 1.5px;
}

.header-user .signup,
.header-user .login {
  float: right;
  width: 52px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-left: 10px;
  color: #fff;
  border-radius: 2px;
}
.header-user .signup:hover,
.header-user .login:hover {
  text-decoration: none;
}
.header-user .signup {
  background-color: rgba(201,0,0,.6);
  border: 1px solid transparent;
}
.header-user .signup:hover {
  background-color: rgba(201,0,0,.9);
}
.header-user .login {
  border: 1px solid rgba(255, 255, 255, .8);
  box-sizing: border-box;
}
.header-user .login:hover {
  color: #444;
  background-color: #fff;
}
.header-top .search {
  position: absolute;
  display: none;
  left: 438px;
  top: 8px;
}
.header-top .search-text {
  width: 527px;
  height: 34px;margin-left: 400px;
  line-height: 34px;
  border: 1px solid #ddd;
  background-color: #fafafa;
}
.header-top .search-text:hover {
  border-color: #bbb;
  background-color: #fff;
}
.header-top .search-btn {
  width: 32px;
  height: 32px;
  background-position: 5px -93px;
}
.header .search-btn:hover {
  background-position: -45px -93px;
}
.header-top__fixed {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #fff;
}
.header-top__fixed .header-logo {
  float: left;
  width: 80px;
  height: 28px;
  margin-top: 10px;
  color: #000;
}
.header-top__fixed .header-nav .item {
  color: #333;
}
.header-top__fixed .header-nav .item-cur,
.header-top__fixed .header-nav .item:hover {
  color: #c90000;
}
.header-top__fixed .nav-more {
  background-position: 0 -248px;
}
.header-top__fixed .header-user .register {
  background: linear-gradient( #E53E49, #D43636);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
}
.header-top__fixed .header-user .register:hover {
  background: linear-gradient( #F45D68, #E54646);
}
.header-top__fixed .header-user .login {
  color: #333;
  background: linear-gradient( #FAFAFA, #F2F2F2);
  border-color: #D9D9D9;
}
.header-top__fixed .header-user .login:hover {
  background: linear-gradient(#FFF, #F7F7F7);
  border-color: #ccc;
}
.header-top__fixed .search {
  display: block;
}


/* ==search text === */
.search-text {
    float: left;
    padding: 0 12px;
    border-radius: 2px;
    box-sizing: border-box;
    color: #a9a9a9;
    font-size: 14px;
    width: auto;
  }
  .search-btn {
    float: left;
    position: absolute;
    right: 0;
    top: 0;
  }


/* ==Banner== */
.banner {
  position: absolute;
  top: 120px;
  left: 50%;
  width: 550px;
  margin-left: -279px;
}

.banner-title {
  width: 100%;
  text-align: center;
}


/* ===Product page ===*/

.product-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.product-item{
    width: 300px;
    height: 200px;

}


/* ===footer== */
.footer{
    bottom: 0;
}